@model CharacterSheetApp.Models.Character
@Html.Partial("_CharacterSheet", Model)
<div style="clear: both;">
</div>
<h2>Details</h2>
<hr/>
<div class="form-horizontal">
    <h4>Character</h4>
    <hr/>
    <div class="row">
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name)
    </div>
    <div class="row">
        @Html.LabelFor(m => m.IsActive)
        @Html.DisplayFor(m => m.IsActive)
    </div>
    <input asp-controller="Character" asp-action="Edit" type="button" asp-route-name="@Model.Name" value="Edit"/>
</div>